html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  margin: 0, auto;
  /* max-width: 100px; */
  display: flex;
  flex-direction: column;
  /* background: -webkit-linear-gradient(bottom,#419769, rgba(135, 130, 130, 0.5)); */
  /* background: -moz-linear-gradient(bottom,#419769, rgba(135, 130, 130, 0.5)); */
  /* background: -o-linear-gradient(bottom,#419769, rgba(135, 130, 130, 0.5)); */
}

#player1 {
  display: grid;
  grid-template-rows: repeat(10, 5vmin);
  grid-template-columns: repeat(10, 5vmin);
  grid-gap: 0.5vmin;
  text-align: center;
}

div {
  border: 3px solid black;
  font-size: 3vmin;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: 500px) {
  div {
    background-color: rgb(128, 0, 0);
    border: 3px solid rgb(16, 186, 92);
    font-size: 3vmin;
    text-align: center;
    vertical-align: middle;
  }
  body {
    background-color: aqua;
  }
  section {
    background-color: aqua;
  }
}

@media only screen and (max-width: 700px) {
  div {
    background-color: green;
    border: 3px solid rgb(186, 16, 16);
    font-size: 3vmin;
    text-align: center;
    vertical-align: middle;
  }
  body {
    background-color: aqua;
  }
  section {
    background-color: aqua;
  }
}

p {
  font-size: 3vmin;
}